<div class="container">

    <br />
    <h2>Element position: ?? etc.</h2>

    <br />
    <h3>You should display the element's data here. Notice that you have position: <b>{{position}}</b> in the URL</h3>

    <p>Hint: Perhaps you could use the position variable in element.component.ts to find the remaining relevant data (name, weight, symbol) to display from the periodicElements.json file</p>

    <br/><br/>
    <button mat-raised-button (click)="goBack()">
        Go back
    </button>
</div>